*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}

header{
    background-image: url("./images/bg-masthead.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 800px;
}

/* .container h1{
    font-size: 1px;

} */

section{
    background-color: #1f1f1f;
    
}

/* .container{
    background-image: url("./images/ipad.png");
    background-color: grey;
    background-repeat:no-repeat;
    background-size: cover;
    height: 400px;
} */


.jumbotron {
    background: none;
    margin-bottom: 0;
}

.jumbotron h1{
    font-size: 100px;
}

.section2{
background-color: white;
padding-top: 160px;
/* padding: 100px; */
}

.bl{
    border-left: 60px;
}
.barre{
    border-left-color: aqua;
    border-left-width: 10px;
    border-left-style: solid;
}

nav a{
    color: hsla(0, 17%, 91%, 0.808)
}


.grad1 {
    height: 100px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
  }

  .section3 {
    background-color: white;
    padding-top: 160px;
    padding-bottom: 200px;
   
    
    /* padding: 100px; */
    }

    .btest{
        border-left-color: aqua;
    border-left-width: 10px;
    border-left-style: solid;
    }

    .misty {
        font-family: Nunito;
        font-size: 18pt;
     }
     
     .misty-text {
        color: #adadad !important;
        font-family: Nunito;
        font-size: 10pt !important;
        letter-spacing: .08rem;
     }
     
     .blockbleu {
        background : #60a39e;
        width: 30%;
        height: 1% ;
     }

    .outil{
        background-image: url(./images/bg-signup.jpg);
        height: 600px;
        color: white;
    }

    footer{
        background-color:#1f1f1f;
        height: 450px;

    }

    i{
        color: #60a39e;

    }
h3{
    color:black;
}
